<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form id="login-form" method="POST">
            <input type="text" name="username" id="login-username" placeholder="Username" required><br>
            <input type="password" name="password" id="login-password" placeholder="Password" required><br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
